.main-div {
    width: 90%;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #7E8299;
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* flex-direction: row; */
}

// app-toast {
//     overflow-x: hidden;
// }