// .toast {
//     position: absolute;
//     top: 25px;
//     right: 30px;
//     border-radius: 12px;
//     background: #fff;
//     padding: 20px 35px 20px 25px;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
//     border-left: 6px solid #4070f4;
//     overflow: hidden;
//     transform: translateX(calc(100% + 30px));
//     transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
// }
// .toast_wrapper {
//     position: absolute;
//     top: 25px;
//     right: 30px;
//     border-radius: 12px;
//     background: var(--wbToastColor);
//     padding: 20px 35px 20px 25px;
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
//     // border-left: 6px solid #4070f4;
//     overflow: hidden;
//     transform: translateX(calc(100% + 30px));
//     transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
// }
.toast-t.toast_wrapper_top_full_width {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    width: 95%;
    // width: 800px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_top_right {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_bottom_right {
    position: absolute;
    bottom: 25px;
    right: 30px;
    height: min-content;
    width: fit-content;
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_bottom_left {
    position: absolute;
    bottom: 25px;
    left: 30px;
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 1000px));
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_top_left {
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 1000px));
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_bottom_full_width {
    position: absolute;
    bottom: 25px;
    right: 30px;
    border-radius: 12px;
    width: 95%;
    // width: 800px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_top_center {
    position: absolute;
    top: 25px;
    left: calc(70% /2);
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 900px));
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper_bottom_center {
    position: absolute;
    bottom: 25px;
    left: calc(70% /2);
    border-radius: 12px;
    background: var(--wbToastColor);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    // border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 900px));
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-t.toast_wrapper.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_top_full_width.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_top_right.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_bottom_right.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_bottom_left.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_top_left.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_bottom_full_width.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_top_center.active {
    transform: translateX(0%);
}

.toast-t.toast_wrapper_bottom_center.active {
    transform: translateX(0%);
}

.inner_wrapper .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--iconBackground);
    color: var(--iconColor);
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: var(--textColor);
}

.message .text.text-1 {
    font-weight: 600;
    color: var(--titleColor);
}

.inner_wrapper .close {
    position: absolute;
    height: 3rem;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 4;
    color: var(--iconBackground);
}

.inner_wrapper .close:hover {
    opacity: 1;
}

.inner_wrapper .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.inner_wrapper .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--progressBarColor);
}

.progress.active:before {
    animation: progress var(--timeout) linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0e4bf1;
}

.inner_wrapper.active~button {
    pointer-events: none;
}