<div #toast *ngIf="isVisible" class="toast-t" (click)="toastParam.tapToDissmiss==true && closeOnTapFunction()" (mouseenter)="stopCountDown()" (mouseleave)="countDown()" [ngClass]="toastParam.toastPosition==='top-full-width' ? 'toast_wrapper_top_full_width' : '' ||toastParam.toastPosition==='top-right' ? 'toast_wrapper_top_right' : '' ||toastParam.toastPosition==='bot-right' ? 'toast_wrapper_bottom_right' : '' ||toastParam.toastPosition==='bot-left' ? 'toast_wrapper_bottom_left' : '' ||toastParam.toastPosition==='top-left' ? 'toast_wrapper_top_left' : ''||toastParam.toastPosition==='bot-full-width' ? 'toast_wrapper_bottom_full_width' : ''||toastParam.toastPosition==='top-center' ? 'toast_wrapper_top_center' : ''||toastParam.toastPosition==='bot-center' ? 'toast_wrapper_bottom_center' : ''  ">
    <div class="inner_wrapper">
        <div class="toast-content">
            <i class="check"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" [class]=toastParam.iconClass viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
              </svg></i>
            <div class="message">
                <span class="text text-1">{{toastParam.toastType}}</span>
                <span class="text text-2">{{toastParam.message}}</span>
            </div>
        </div>
        <i *ngIf="toastParam.closeButton==true" (click)="closeToast()" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></i>

        <div #progress *ngIf="toastParam.showProgressBar==true" class="progress"></div>
    </div>
</div>